
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

body {
   margin: 0 15px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
   font-size: 14px;

   background: rgba(32,124,229,0.34);
   background: -moz-linear-gradient(top, rgba(32,124,229,0.34) 0%, rgba(235,207,68,0.31) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(32,124,229,0.34)), color-stop(100%, rgba(235,207,68,0.31)));
   background: -webkit-linear-gradient(top, rgba(32,124,229,0.34) 0%, rgba(235,207,68,0.31) 100%);
   background: -o-linear-gradient(top, rgba(32,124,229,0.34) 0%, rgba(235,207,68,0.31) 100%);
   background: -ms-linear-gradient(top, rgba(32,124,229,0.34) 0%, rgba(235,207,68,0.31) 100%);
   background: linear-gradient(to bottom, rgba(32,124,229,0.34) 0%, rgba(235,207,68,0.31) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#ebcf44', GradientType=0 );
}

.sidebar, .container {
   border-radius: 5px;
}

.sidebar__wrapper {
   display: flex;
}

.container {
   background-color: #fff;
   max-width: 1200px;
   margin: 50px auto;
   box-shadow: 5px 9px 20px 10px rgba(0, 0, 0, 0.15);
}

/* SIDEBAR */

.sidebar {
   background-color: #1E2939;
   width: 320px;
   padding-top: 40px;
   padding-bottom: 40px;
   color: white;
}

.hide {
   margin: 20px 15px 50px 25px;
}

.main-image {
   width: 320px;
   height: auto;
}

h2 {
   font-size: 20px;
   margin-bottom: 15px;
}

.contacts li {
   margin-bottom: 10px;
   padding-left: 45px;
   line-height: 32px;
}

.contacts__link {
   color: #818D95;
   text-decoration: underline;
   transition: 0.2s;
}

.contacts__link:hover {
   text-decoration: underline;
}

.item1 {
   max-width: 200px;
   background-image: url(../img/phone.svg);
   background-repeat: no-repeat;
}

.item2 {
   max-width: 200px;
   background-image: url(../img/mail.svg);
   background-repeat: no-repeat;
}

.item3 {
   max-width: 200px;
   background-image: url(../img/telegram.svg);
   background-repeat: no-repeat;
}

.item4 {
   max-width: 200px;
   background-image: url(../img/viber.svg);
   background-repeat: no-repeat;
}

.btn {
   padding: 5px 25px;
   border: 1px solid black;
   background-color: #818D95;
   border-radius: 5px;
   transition: 0.2s;
}

.btn:hover {
   background-color: rgb(193, 116, 102);
}

.btn:active {
   background-color: rgb(202, 63, 38);
}

.social__btn {
   margin-bottom: 20px;
   margin-right: 20px;
   padding: 6px 7px;
   font-size: 20px;

   border: 1px solid black;

   transition: 0.2s;
   border-radius: 5px;
}

.social__btn:hover {
   opacity: 0.7;
}

.btn__wrapper {
   display: flex;
}

.fb {
   background-color: #0063d4;
}

.inst {
   background-color: #8349a2;
}

.vk {
   background-color: #0c6eaf;
}

.hard__skills li {
   margin-left: 15px;
   margin-bottom: 10px;
   list-style: disc;
}

.hard__skills li {
   color: #FF6B1F;
}

.hard__skills span {
   color: #fff;
}

.soft__skills li {
   margin-left: 15px;
   margin-bottom: 10px;
   list-style: disc;
}

.soft__skills li {
   color: #FF6B1F;
}

.soft__skills span {
   color: #fff;
}

/* ABOUT ME */

.about-me__container {
   padding: 30px 30px 10px 30px;
   max-width: 800px;
}

h1 {
   font-weight: 700;
   font-size: 40px;
   margin-bottom: 15px; 
}

.about-me__profession {
   font-weight: 700;
   margin-bottom: 20px; 
}

.my__education {
   padding: 30px 30px 10px 30px;
   max-width: 800px;
}

.my__education p {
   margin-top: 10px;
}

.my__work {
   padding: 30px 30px 20px 30px;
   max-width: 800px;
}

.my__education h2 {
   font-weight: 700;
   margin-bottom: 20px;
}

.my__work h2 {
   font-weight: 700;
   margin-bottom: 20px;
}

.my__work h3 {
   font-size: 16px;
   font-weight: 700;
   margin-bottom: 15px;
}

.place {
   color: #FF6B08;
}

.profession-time {
   color: #818D95;
}

.profession-duties {
   margin-top: 15px;
   margin-left: 15px;
   list-style: disc;
   color: #FF6B1F;
}

.profession-duties li {
   margin-bottom: 10px;
}

.profession-duties span {
   color: #000;
}

.work__place:not(:last-child) {
   margin-bottom: 40px;
}
